*{
    margin:0;
    padding:0;
}
 header{
    position: sticky;
    z-index: 1000;
    top:0;
}
body{
    z-index: 0;
}
.navbar-custom {
    background-color:burlywood;
    box-shadow: 2px 2px 10px gray;
} 
.navbar-brand img {
    height: 50px;
}
.nav-link {
    font-weight: bold;
    color: black;
}
.nav-link:hover {
    color: darkblue;
}
.navbar-nav .nav-item{
    margin: 0 20px;
} 
.card1{
    display: flex;
    background-color: cadetblue;
    margin-top: 50px;
    width: 500px;
    height: 130px;
}
.citem0{
    position: relative;
    left:470px
}
.citemp1{
    margin-left: 150px;
}
.citem3{
    display: flex;
    gap: 10px;
}
@media screen and (max-width:426px){
    .card3{
        position: relative;
        right: 100px;
    }
    .card4{
        position: relative;
        right: 100px;
    }
    header{
        width:690px;
    }
    footer{
        width:680px;
        margin-top: 50px;
    }
}
.card2{
    background-color: darkgoldenrod;
    width: 300px;
    height: 130px;
    margin-top: 50px;
}
.card3{
    display: flex;
    background-color: darkkhaki;
    margin-left: 92px;
    margin-top: 30px;
    width: 500px;
    height: 130px;
}
.aitem0{
    position: relative;
    left:470px;
}
.aitemp1{
    margin-left: 150px;
}
.aitem3{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.card4{
    display: flex;
    background-color: indianred;
    margin-left: 92px;
    margin-top: 30px;
    width: 500px;
    height: 130px;
}
.bitem0{
    position: relative;
    left:470px;
}
.bitemp1{
    margin-left: 150px;
}
.bitem3{
    display: flex;
    gap: 10px;
}
.parent1{
    display: flex;
    justify-content: space-evenly;
}
@media screen and (min-width:426px) and (max-width:769px){
    .card3{
        position: relative;
        right: 90px;
        background-color:yellowgreen;
    }
    .card4{
        position: relative;
        right: 90px;
        background-color: darkseagreen;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .card3{
        background-color:darkolivegreen;
        position: relative;
        right: 17px;
    }
    .card4{
        position: relative;
        right: 17px;
        background-color:dimgray;
    }
    
}
.parentfive{
    display: grid;
    grid-template-columns: 20% 25% 25% 25%;
    column-gap:10px;
    justify-content: center;
    background-color: darkslateblue;
    color: white;
}
.lockimg{
    margin-left: 10px;
}
@media screen and (max-width:426px){
    .parentfive{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subparent{
        display: flex;
        flex-direction: column;
    }
    .bcard8{
        margin-top: 100px;
    }

}