*{
    margin:0;
    padding:0;
}
 header{
    position: sticky;
    z-index: 1000;
    top:0;
}
body{
    z-index: 0;
}
.navbar-custom {
    background-color:burlywood;
    box-shadow: 2px 2px 10px gray;
} 
.navbar-brand img {
    height: 50px;
}
.nav-link {
    font-weight: bold;
    color: black;
}
.nav-link:hover {
    color: darkblue;
}
.navbar-nav .nav-item{
    margin: 0 20px;
} 
.container1{
    display: grid;
    gap: 10px;
    height: 500px;
    background-color:floralwhite;
}
.slide1{
    display:grid  !important;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
}
.content1{
    margin-right: 30px;
}
.slide2{
    display:grid  !important;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
}
.content2{
    margin-right: 30px;
}
.slide3{
    display:grid  !important;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
}
.content3{
    margin-right: 30px;
}
.parentone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;

}
.card1{
    background-color:lightcoral;
    width:200px;
    height:180px;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
    align-content: center;
}
.cardone{
    height: 20px;
    text-align: center;
    align-content: center;
}
.card2{
    background-color:cadetblue;
    width:200px;
    height:180px;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
    align-content: center;
}
.cardtwo{
    height: 20px;
    text-align: center;
    align-content: center;
}
.card3{
    background-color:yellowgreen;
    width:200px;
    height:180px;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
    align-content: center;
}
.cardthree{
    height: 20px;
    text-align: center;
    align-content: center;
}
.card4{
    background-color:darkkhaki;
    width:200px;
    height:180px;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
    align-content: center;
}
.cardfour{
    height: 20px;
    text-align: center;
    align-content: center;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .parentone{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 100px;
    
    }
    .card1{
        background-color:lightcoral;
        width:300px;
        height:180px;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
        align-content: center;
    }
    .cardone{
        height: 20px;
        text-align: center;
        align-content: center;
    }
    .card2{
        background-color:cadetblue;
        width:300px;
        height:180px;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
        align-content: center;
    }
    .cardtwo{
        height: 20px;
        text-align: center;
        align-content: center;
    }
    .card3{
        background-color:yellowgreen;
        width:300px;
        height:180px;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
        align-content: center;
    }
    .cardthree{
        height: 20px;
        text-align: center;
        align-content: center;
    }
    .card4{
        background-color:darkkhaki;
        width:300px;
        height:180px;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
        align-content: center;
    }
    .cardfour{
        height: 20px;
        text-align: center;
        align-content: center
    }
  }
  .parenttwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-bottom: 80px;
}
.dcard1{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
#card_link{
    text-decoration: none;
    color: black;
}
.badge{
    background-color:darkblue;
    height: 20px;
}
.plus1{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -20px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus1:hover{
    background-color:darkslateblue;
}
.dcard2{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.plus2{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top:-60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus2:hover{
    background-color: darkblue;
}
.dcard3{
    background-color:white;
    box-shadow:7px 7px 18px gray;
    height: 280px;
    width:200px;
}
.plus3{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top:-60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus3:hover{
    background-color: darkblue;
}

.dcard4{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.plus4{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top:-60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus4:hover{
    background-color: darkblue;
}
.dcard5{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.plus5{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top:-60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus5:hover{
    background-color: darkblue;
}
.dcard6{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.plus6{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top:-60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus6:hover{
    background-color: darkblue;
}
.parentthree{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:120px;
    margin-bottom: 30px;
}
.ncard1{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus1{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus1:hover{
    background-color:darkslateblue;
}
.ncard2{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus2{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus2:hover{
    background-color:darkslateblue;
}
.ncard3{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus3{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus3:hover{
    background-color:darkslateblue;
}
.ncard4{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus4{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus4:hover{
    background-color:darkslateblue;
}
.ncard5{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus5{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus5:hover{
    background-color:darkslateblue;
}
.ncard6{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus6{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus6:hover{
    background-color:darkslateblue;
}
.ncard7{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus7{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus7:hover{
    background-color:darkslateblue;
}
.ncard8{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus8{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus8:hover{
    background-color:darkslateblue;
}
.ncard9{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus9{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus9:hover{
    background-color:darkslateblue;
}
.ncard10{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.nplus10{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.nplus10:hover{
    background-color:darkslateblue;
}
.parentfour{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap:120px;
    margin-top: 50px;
}
.bcard1{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.bplus1{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus1:hover{
    background-color:darkslateblue;
}
.bcard2{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.bplus2{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus2:hover{
    background-color:darkslateblue;
}
.bcard3{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 5px gray;
}
.bplus3{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus3:hover{
    background-color:darkslateblue;
}
.bcard4{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.bplus4{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus4:hover{
    background-color:darkslateblue;
}
.bcard5{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.bplus5{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus5:hover{
    background-color:darkslateblue;
}
.bcard6{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.bplus6{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus6:hover{
    background-color:darkslateblue;
}
.subparent{
    display: grid;
    grid-template-columns:auto auto;
    column-gap: 50px;
    margin-bottom: 100px;
}
.bcard7{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.bplus7{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus7:hover{
    background-color:darkslateblue;
}
.bcard8{
    background-color:white;
    height: 280px;
    width:200px;
    box-shadow:7px 7px 18px gray;
}
.bplus8{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -60px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.bplus8:hover{
    background-color:darkslateblue;
}
.parentfive{
    display: grid;
    grid-template-columns: 20% 25% 25% 25%;
    column-gap:10px;
    justify-content: center;
    background-color: darkslateblue;
    color: white;
}
.lockimg{
    margin-left: 10px;
}
@media screen and (max-width:426px){
    .parentfive{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subparent{
        display: flex;
        flex-direction: column;
    }
    .bcard8{
        margin-top: 100px;
    }

}