*{
    margin:0;
    padding:0;
}
 header{
    position: sticky;
    z-index: 1000;
    top:0;
}
body{
    z-index: 0;
}
.navbar-custom {
    background-color:burlywood;
    box-shadow: 2px 2px 10px gray;
} 
.navbar-brand img {
    height: 50px;
}
.nav-link {
    font-weight: bold;
    color: black;
}
.nav-link:hover {
    color: darkblue;
}
.navbar-nav .nav-item{
    margin: 0 20px;
} 
.item1{
    text-align: center;
    align-content: center;
    background-image: url(../html/img/table.jpg);
    color: white;
    height: 100px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
button{
    width:100px;
    height: 40px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
}
@media screen and (max-width:426px){
    .container1{
        display: grid;
        flex-direction: column;
        background-color: darkkhaki;
    }
}
.parent3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
}
.dcard1{
    background-color:whitesmoke;
    height: 240px;
    width:200px;
    box-shadow: 7px 7px 20px gray;
}
.plus1{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -50px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus1:hover{
    background-color:darkslateblue;
}
.dcard2{
    background-color:whitesmoke;
    height: 240px;
    width:200px;
    box-shadow: 7px 7px 20px gray;
}
.plus2{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -50px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus2:hover{
    background-color:darkslateblue;
}
.dcard3{
    background-color:whitesmoke;
    height: 240px;
    width:200px;
    box-shadow: 7px 7px 20px gray;
}
.plus3{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -50px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus3:hover{
    background-color:darkslateblue;
}
.dcard4{
    background-color:whitesmoke;
    height: 240px;
    width:200px;
    box-shadow: 7px 7px 20px gray;
}
.plus4{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -50px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus4:hover{
    background-color:darkslateblue;
}
.dcard5{
    background-color:whitesmoke;
    height: 240px;
    width:200px;
    box-shadow: 7px 7px 20px gray;
}
.plus5{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -50px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus5:hover{
    background-color:deepskyblue;
}
.dcard6{
    background-color:whitesmoke;
    height: 240px;
    width:200px;
    box-shadow: 7px 7px 20px gray;
}
.plus6{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -50px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus6:hover{
    background-color:darkslateblue;
}
.dcard7{
    background-color:whitesmoke;
    height: 240px;
    width:200px;
    box-shadow: 7px 7px 20px gray;
}
.plus7{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-left: 160px;
    margin-top: -50px;
    border-radius: 50%;
    border: 0px solid red;
    background-color:floralwhite;
    height: 25px;
    width: 25px;
}
.plus7:hover{
    background-color:darkslateblue;
}
.parentfive{
    display: grid;
    grid-template-columns: 20% 25% 25% 25%;
    column-gap:10px;
    justify-content: center;
    background-color: darkslateblue;
    color: white;
    margin-top: 50px;
}
.lockimg{
    margin-left: 10px;
}
@media screen and (max-width:426px){
    .parentfive{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subparent{
        display: flex;
        flex-direction: column;
    }
    .bcard8{
        margin-top: 100px;
    }

}